<h3 style="color: white;" data-source-pile="<%= @piles.select{ |pile| pile.creator == @current_user.user_id }[0].id %>" id="transfer_cards_details_header">Transfer Card!!</h3>

  <%= form_tag transfer_card_piles_path({:room_id => params[:room_id]}), :id => 'transfer_cards_form', remote: true, :authenticity_token => true do %>
  <%= label :pile, :source_pile_name, 'Transfer From:', :class => 'row-form-label', style: "color: white" %>
  <%= select :pile, :source_pile_id, options_from_collection_for_select(
      @piles.select { |pile| !pile.private_pile or pile.creator == @current_user.user_id }, "id", "name"), :include_blank => true %>
  <%= label :pile, :destination_pile_name, 'To:', :class => 'row-form-label', style: "color: white" %>
  <%= select :pile, :destination_pile_id, options_from_collection_for_select(@piles, "id", "name"), :include_blank => true %>
  <p style="color: white;">Cards to Transfer:</p>
  <% @piles.each do |pile| %>
    <% pile_table_elem_id = "pile_table_#{pile.id}" %>
    <div style="padding-top: 5px; padding-bottom: 5px; height: 210px; overflow-y: auto; display: none;">
      <table class="table table-striped card-table col-md-12" id=<%= pile_table_elem_id %> style="display:table;">
        <tbody>
        <% is_private = pile.private_pile %>
        <% pile.cards.each do |card| %>
          <tr>
            <td style="color:white;">
              <% if is_private and pile.creator != @current_user.user_id %>
                <span style="font-size:25px; padding-right: 5px;">&#x1F0F4;</span>
                Facedown Card
              <% elsif !is_private or pile.creator == @current_user.user_id %>
                <span style="font-size:25px; padding-right: 5px;">&#x<%= card.unicode_value %></span>
                <%= card.name %>
              <% end %>
            </td>
            <td>
              <%=check_box_tag "the_cards[#{card.id}]", nil, nil, {:id => "checkbox_#{card.name}"}%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  </br>
    <%= submit_tag 'Transfer Card(s)', :class => 'btn btn-primary', :id => 'transfer_cards' %>
  <% end %>
  <%= button_to 'Cancel', room_path({:id => params[:room_id]}), :method => :get, :id => 'cancel' %>