<div id="room-information">
  <h2>Welcome To <%= @room.name %></h2>
  <h2>Room Join Code: <%= @room.room_code %></h2>
</div>
<div class="base-room">
  <div class="left-panel">
    </br>
    <% @room.piles.select{ |pile| pile.name.include? "'s Hand" }.each do |pile| %>
      <% if pile.creator != @current_user.user_id %>
        <%= button_tag "#{pile.name}", type: "button", class: "btn btn-outline-dark", onclick: "show_pile(#{pile.id})"%>
        </br>
      <% end %>
    <% end %>
  </div>
  <div class="center-panel">
    <div class="top-center-panel w3-panel" id="show-pile-panel">
      <%= render "partials/show_pile" %>
    </div>
    <div class="middle-center-panel">
      <div class="draw-discard">
        <div class="playingCards simpleCards faceImages">
          <ul class="deck" id ="draw">
            <% if @draw_cards.empty? %>
              <a class="card cardOutline">+</a>
            <% else %>
              <% @draw_cards.each do |card| %>
                <li>
                  <a class="card back"></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="playingCards simpleCards faceImages">
          <ul class="deck" id ="discard">
            <% if @discard_pile.cards.count == 0 %>
              <a class="card cardOutline">X</a>
            <% else %>
              <% @discard_pile.cards.each do |card| %>
                <li>
                  <a onclick="show_pile(<%= @discard_pile.id %>)" class="card rank-<%= card.rank.downcase %> <%=card.suit%>">
                    <span class="rank"><%=card.rank%></span>
                    <span class="suit">&<%=card.suit%>;</span>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

      </div>
      <div class="piles">
        <%  @center_piles.each do |pile|%>

          <div class="playingCards faceImages">
            <ul class="deck" id =<% pile.name %>>
              <% if pile.cards.count == 0 %>
                <a class="card cardOutline"><%=pile.name.split[1]%></a>
              <% else %>
                <% pile.cards.each do |card| %>
                  <li>
                    <a onclick="show_pile(<%= pile.id %>)" class="card rank-<%= card.rank.downcase %> <%=card.suit%>">
                      <span class="rank"><%=card.rank%></span>
                      <span class="suit">&<%=card.suit%>;</span>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="playingCards faceImages bottom-center-panel" id="root-playing-card">
      <ul class="hand" id ="users-cards">
        <% @card_list.each do |card| %>
          <li>
            <a class="card rank-<%= card[0].downcase %> <%=card[1]%>">
              <span class="rank"><%=card[0]%></span>
              <span class="suit">&<%=card[1]%>;</span>
            </a>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
  <div class="right-panel">
    <!--    <ActionsPanel/>-->
    <div id="game-actions">
      <%= form_tag get_from_draw_piles_path({:room_id => @room.id}), :class => 'form' do %>
        <%= submit_tag 'Draw', :type => "button", :class => 'btn btn-outline-primary', :id => 'draw_button' %>
      <% end %>
      <%= form_tag discard_piles_path({:room_id => @room.id}), :class => 'form' do %>
        <%= submit_tag 'Discard', :type => "button", :class => 'btn btn-outline-primary', :id => 'discard_button' %>
      <% end %>
      <Button type="button" class="btn btn-outline-primary" id="initiate_transfer_button" action= <%=show_transfer_piles_path({:room_id => @room.id}) %>>Transfer</Button>
      <Button type="button" class="btn btn-outline-primary">Reset Deck</Button>
      <% if @user_hand.private_pile %>
        <%= render partial: 'partials/show_hand'%>
      <% else %>
        <%= render partial: 'partials/hide_hand'%>
      <% end %>
      <Button type="button" class="btn btn-outline-primary" onclick="changeCards()">Spread/Unspread Cards</Button>
      <% if @fan %>
        <Button type="button" class="btn btn-outline-primary" onclick="fanCards()">Fan/Unfan Cards</Button>
      <% end %>
    </div>
    <div id="dangerous-game-actions">
      <%= link_to 'Exit Game', root_path, :class => 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
<br>
