<div id="room-information">
  <h2>Welcome To <%= @room.name %></h2>
  <h2>Room Join Code: <%= @room.room_code %></h2>
</div>
<div class="base-room">
  <div class="left-panel">
<!--    TODO: Add dynamic button generation -->
    </br>
    <% @room.piles.select{ |pile| pile.name.include? "'s Hand" }.each do |pile| %>
      <% if pile.creator != @current_user.user_id %>
        <%= button_tag "#{pile.name}", type: "button", class: "btn btn-outline-dark", onclick: "show_pile(#{pile.id})"%>
        </br>
      <% end %>
    <% end %>
  </div>
  <div class="center-panel">
    <div class="top-center-panel w3-panel" id="show-pile-panel">
      <%= render "partials/show_pile" %>
    </div>
    <div class="middle-center-panel">
      <div class="draw-discard">
        <%if @draw_cards.length == 0 %>
          <Button type="button" class="btn blank-card btn-outline-secondary">Draw Pile</Button>
        <% else %>
          <div class="playingCards simpleCards faceImages bottom-center-panel">
            <ul class="deck" id ="draw">
              <% @draw_cards.each do |card| %>
                <li>
                  <a class="card rank-<%= card[0] %> <%=card[1]%>">
                    <span class="rank"><%=card[0]%></span>
                    <span class="suit">&<%=card[1]%>;</span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%if @discard_cards.length == 0 %>
          <Button type="button" class="btn blank-card btn-outline-secondary">Discard Pile</Button>
        <% else %>
          <div class="playingCards simpleCards faceImages">
            <ul class="deck" id ="discard">
              <% @discard_cards.each do |card| %>
                <li>
                  <a class="card rank-<%= card[0] %> <%=card[1]%>">
                    <span class="rank"><%=card[0]%></span>
                    <span class="suit">&<%=card[1]%>;</span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
      <div class="piles">
        <%= @center_piles %>
        <%  @center_piles.keys.each do |pile_name|%>
          <% if @center_piles[pile_name].empty? %>
            <Button type="button" class="btn blank-card btn-outline-primary">+</Button>
          <% else %>
            <div class="playingCards simpleCards faceImages">
              <ul class="deck" id =<% pile_name %>>
                <% @center_piles[pile_name].each do |card| %>
                  <li>
                    <a class="card rank-<%= card[0] %> <%=card[1]%>">
                      <span class="rank"><%=card[0]%></span>
                      <span class="suit">&<%=card[1]%>;</span>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
      <% end %>
      </div>
    </div>
    <div class="playingCards simpleCards faceImages bottom-center-panel" id="root-playing-card">
      <ul class="hand" id ="users-cards">
        <% @card_list.each do |card| %>
        <li>
            <a class="card rank-<%= card[0] %> <%=card[1]%>">
              <span class="rank"><%=card[0]%></span>
              <span class="suit">&<%=card[1]%>;</span>
            </a>
        </li>
      <% end %>
      </ul>
      <div class="card-action-buttons">
        <Button type="button" class="btn btn-outline-primary spread-button" onclick="changeCards()">Spread/Unspread Cards</Button>
        <% if @fan %>
          <Button type="button" class="btn btn-outline-primary spread-button" onclick="fanCards()">Fan/Unfan Cards</Button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <!--    <ActionsPanel/>-->
    <div id="game-actions">
      <Button type="button" class="btn btn-outline-primary">Draw</Button>
      <Button type="button" class="btn btn-outline-primary">Transfer</Button>
      <Button type="button" class="btn btn-outline-primary">Reset Deck</Button>
      <Button type="button" class="btn btn-outline-primary">Show Hand</Button>
    </div>
    <div id="dangerous-game-actions">
      <Button type="button" class="btn btn-danger">Reset Game</Button>
      <Button type="button" class="btn btn-danger">Quit Game</Button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<table class="table table-striped col-md-12">
  <thead>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Count</th>
    <th>Cards</th>
  </tr>
  </thead>
  <tbody>
  <% @room.piles.each do |pile| %>
    <% if pile.room_id == @room.id%>
      <tr>
        <td>
          <%= pile.name%>
        </td>
        <td>
          <%= pile.creator%>
        </td>
        <td>
          <%= pile.card_count%>
        </td>
        <td>
          <%= form_tag piles_show_path({:room_id => @room.id, :source_pile_id => pile.id}), :class => 'form' do %>
            <%= submit_tag 'Details',  :class => 'btn btn-primary', :id => 'pile_details' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>