<h2>Dashboard</h2>
<% if !@current_user %>
  <%= button_to 'Sign Up/Login',  login_path, method: :get, :class => 'btn btn-primary', :id => 'signupLogin' %>
<% else %>
  <div class="message">
    <%= "Welcome player" %>
  </div>
  <%= button_to "Create Room", new_room_path, method: :get, :class => 'btn btn-primary' %>
  <%= button_to "Join Room", rooms_new_join_path, method: :get, :class => 'btn btn-primary' %>
  <%= button_to "Logout",  logout_path, method: :post,:class => 'btn btn-primary', :id => 'logout' %>
  <%= "Available Open Rooms: " %>
  <% Room.where(private: nil).each do |room| %>
    <% if room.users.count < room[:max_players] %>
      <%= button_to  room.name, rooms_create_join_path(:id => room.room_code), method: :post, :class => 'btn btn-primary'%>
    <% end %>
  <% end %>
<% end %>
<script>
    jQuery(LoginPopup.setup);
</script>