<!DOCTYPE html>
<html>
<head>
  <title>CardsGameSimulator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h1><%= link_to 'CardGameSim', root_path, :class => 'btn btn-primary' %></h1>
<body>
<div id="main">
  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="notice">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>
  <br/>
  <%= yield %>
</div>
</body>
</html>
