<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"></link>
  <title>CardsGameSimulator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= action_cable_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<h1><%= link_to 'CardGameSim', root_path, :class => 'btn btn-primary' %></h1>
<body>
<div id="flash_message">
  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="notice">
        <%= flash[:notice].html_safe %>
      </div>
    </div>
  <% elsif flash[:warning] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="warning">
        <%= flash[:warning].html_safe %>
      </div>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="error">
        <%= flash[:error].html_safe %>
      </div>
    </div>
  <% end %>
</div>
<%= yield %>

</body>
</html>
